lib/
test/
docs/
.vscode/
.sfdx/
debug/
coverage/
tsconfig.json
.prettierrc
.travis.yml
.rpt2_cache
.env
.git
.release-it.json
rollup-plugins
.nyc_output
.rpt2_cache
SOQL.g4
ISSUE_TEMPLATE
CONTRIBUTING.md
CHANGELOG.md
rollup.config.js