.env
.git
.prettierrc
.release-it.json
.rpt2_cache
.sfdx/
.travis.yml
.vscode/
cli/
coverage/
debug/
docs/
lib/
src/
tasks/
test/
AUTHORS.md
CHANGELOG.md
CONTRIBUTING.md
CONTRIBUTORS.md
ISSUE_TEMPLATE
tsconfig.json
vitest.config.ts