.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featuresSubHeading {
  text-align: center;
  text-transform: uppercase;
  font-weight: semi-bold;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
