.NavBar {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5em ;
  color: white;
  background-color: #141127;
  justify-content: space-between;
}

.NavBar .logos {
  margin-right: 10px;
}